<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.dao.face.AdminDao">


<sql id="selectUser">
	SELECT
	user_id, user_pw, email, user_name, user_nick, birth, 
	address, address_detail, phone, profile, user_status, join_date
	FROM usertb
</sql>


<sql id="searchUser">
	<if test="search != null and !''.equals(search)">
		 <choose>
            <when test="category == 1">
                <where> AND user_id like '%' || (#{search}) || '%'</where>
            </when>
            <when test="category == 2">
                <where> AND user_name like '%' || (#{search}) || '%'</where>
            </when>
            <when test="category == 3">
                <where> AND email like '%' || (#{search}) || '%'</where>
            </when>
            <when test="category == 0">
            	<where>AND user_id like '%' || (#{search}) || '%'
            	OR user_name like '%' || (#{search}) || '%'
            	OR email like '%' || (#{search}) || '%'</where>
			</when>
		</choose>
	</if>
</sql>


<sql id="searchReport">
	<if test="search != null and !''.equals(search)">
		<where>
			AND vuser_id LIKE '%' || (#{search}) || '%'
		</where>
	</if>
</sql>

<sql id="searchIncome">
		<if test="search != null and !''.equals(search)">
		 <choose>
            <when test="category == 1">
                <where> AND user_id like '%' || (#{search}) || '%'</where>
            </when>
		</choose>
	</if>
</sql>


<sql id="selectReport">
	SELECT report_no, board_no, reason, reason_detail, vuser_id,
		ruser_id, board_cate, report_date
		FROM reporttb
</sql>


<sql id="selectMycar">
	SELECT * FROM cartb
</sql>

<sql id="searchMycar">
	<if test="search != null and !''.equals(search)">
		<where>
			AND user_id LIKE '%' || (#{search}) || '%'
		</where>
	</if>
</sql>


<select id="selectCntUserId" resultType="int" parameterType="User">
	SELECT count(*)
    FROM usertb
    <where>
        <if test="userId != null and userId != ''"> AND user_id = #{userId } </if>
    </where>
</select>

<select id="selectCntAdmin" resultType="int" parameterType="Admin">
	SELECT count(*)
    FROM admintb
    <where>
        <if test="adminCode != null and adminCode != ''"> AND admin_code = #{adminCode } </if>
    </where>
</select>


<select id="selectInfo" resultType="Admin" parameterType="Admin">
	SELECT *
    FROM admintb
    WHERE admin_code = #{adminCode }
    AND admin_pw = #{adminPw, jdbcType=VARCHAR}
</select>


<select id="selectCntAll" resultType="int" parameterType="web.util.Paging">
	SELECT count(*) FROM (
		<include refid="selectUser" />
		<include refid="searchUser" />
	)
</select>


<select id="selectAll" resultType="map" parameterType="web.util.Paging">
	 SELECT * FROM (
        SELECT rownum rnum, B.* FROM (
            <include refid="selectUser" />
            <include refid="searchUser" />
            ORDER BY user_id DESC
        ) B
    ) WHERE rnum BETWEEN #{startNo} AND #{endNo}
</select>


<select id="selectCntAllReport" resultType="int" parameterType="web.util.Paging">
   SELECT count(*) FROM (
	<include refid="selectReport" />
	<include refid="searchReport" />
	<if test="category != 0"> AND board_cate = #{category} </if>
)
</select>


<select id="selectAllReport" resultType="map" parameterType="web.util.Paging">
	SELECT * FROM (
	    SELECT rownum rnum, B.* FROM (
	    	SELECT report_no, board_no, reason, reason_detail, vuser_id,
			ruser_id, board_cate, report_date,
	    	(SELECT title FROM boardtb WHERE board_cate = reporttb.board_cate AND board_no = reporttb.board_no) AS "REPORT_TITLE"
	    	,(SELECT user_status FROM usertb WHERE user_id = reporttb.vuser_id) AS "USER_STATUS"
	    	,(SELECT delete_status FROM boardtb WHERE board_cate = reporttb.board_cate AND board_no = reporttb.board_no) AS "DELETE_STATUS"
	    	FROM reporttb
	    	<include refid="searchReport" />
	    	<if test="category != 0"> AND board_cate = #{category} </if>
			ORDER BY report_no DESC
	    ) B
	) WHERE rnum BETWEEN #{startNo} AND #{endNo}
</select>
	

<select id="selectCntAllIncome" resultType="int" parameterType="web.util.Paging">
	SELECT count(*) FROM (
		SELECT I.income_no
		, I.rent_no
		, I.amount
		, I.income_status
		, CAST(I.post_date AS DATE) AS post_date
		, I.deduct_amount
		, R.user_id 
		FROM incometb I
		INNER JOIN renttb R ON I.rent_no = R.rent_no
		WHERE I.income_status > 0
		<include refid="searchIncome" />
		ORDER BY I.income_no DESC
)
</select>

<select id="selectAllIncome" resultType="map" parameterType="web.util.Paging">
	SELECT * FROM (
	    SELECT rownum rnum, B.* FROM (
	    	SELECT I.income_no
		, I.rent_no
		, I.amount
		, I.income_status
		, CAST(I.post_date AS DATE) AS post_date
		, I.deduct_amount
		, R.user_id 
		FROM incometb I
		INNER JOIN renttb R ON I.rent_no = R.rent_no
		WHERE I.income_status > 0 
		<include refid="searchIncome" />
		ORDER BY I.income_no DESC
	    ) B
	) WHERE rnum BETWEEN #{startNo} AND #{endNo}
</select>

<select id="selectCntAllMycar" resultType="int" parameterType="web.util.Paging">
	SELECT count(*) FROM (
		<include refid="selectMycar" />
		 WHERE car_status = 1 or car_status = 2
		<include refid="searchMycar" />
	)
</select>


<select id="selectAllMycar" resultType="map" parameterType="web.util.Paging">
	 SELECT * FROM (
	 SELECT rownum rnum, B.* FROM (
		<include refid="selectMycar" />
        WHERE car_status = 1 or car_status = 2
        <include refid="searchMycar" />
        ORDER BY car_no DESC
        ) B
    ) WHERE rnum BETWEEN #{startNo} AND #{endNo}
</select>


<select id="selectById" resultType="User" parameterType="string">
	SELECT * FROM usertb
	<where>
		user_id = #{userId}
	</where>
</select>
 
	<select id="checkStatus" resultType="int" parameterType="User">
  		SELECT user_status
  		FROM usertb
  		WHERE user_id = #{userId}
  	</select>
  	
  	<update id="statusToOne" parameterType="User">
		UPDATE usertb
		SET user_status = 1
		WHERE user_id = #{userId}
	</update>
	
	<update id="statusToZero" parameterType="User">
		UPDATE usertb
		SET user_status = 0
		WHERE user_id = #{userId}
	</update>
	
	<select id="checkBoardStatus" resultType="int" parameterType="Board">
  		SELECT delete_status
  		FROM boardtb
  		WHERE board_no = #{boardNo}
  		AND board_cate = #{boardCate}
  	</select>
  	
  	<update id="BoardstatusToOne" parameterType="Board">
		UPDATE boardtb
		SET delete_status = 1
		WHERE board_no = #{boardNo}
  		AND board_cate = #{boardCate}
	</update>
	
	<update id="BoardstatusToZero" parameterType="Board">
		UPDATE boardtb
		SET delete_status = 0
		WHERE board_no = #{boardNo}
  		AND board_cate = #{boardCate}
	</update>
		
	<update id="carStatusToTwo" parameterType="Car">
		UPDATE cartb
		SET car_status = 2
		WHERE car_no = #{carNo}
	</update>

	<update id="carStatusToThree" parameterType="Car">
		UPDATE cartb
		SET car_status = 3
		WHERE car_no = #{carNo}
	</update>
	
	<update id="incomeStatusToTwo" parameterType="Income">
		UPDATE incometb
		SET income_status = 2,
		post_date = SYSTIMESTAMP AT TIME ZONE 'Asia/Seoul'
		WHERE income_no = #{incomeNo}
	</update>	

</mapper>