<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.dao.face.AdminDao">

<sql id="selectUser">
	SELECT
	user_id, user_pw, email, user_name, user_nick, birth, 
	address, address_detail, phone, profile, user_status, join_date
	FROM usertb
</sql>

<sql id="searchUser">
	<if test=" type != null and !''.equals(type) and search != null and !''.equals(search)">
		<if test="type == 'I'.toString()"><where>user_id like '%' || #{search} || '%'</where></if>
		<if test="type == 'N'.toString()"><where>user_name like '%' || #{search} || '%'</where></if>
		<if test="type == 'E'.toString()"><where>email like '%' || #{search} || '%'</where></if>
	</if>
</sql>

<sql id="selectReport">
	SELECT report_no, board_no, reason, reason_detail, vuser_id,
		ruser_id, board_cate, CAST(report_date AS DATE) AS report_date
</sql>

<select id="selectCntAll" resultType="int" parameterType="web.util.Paging">
	SELECT count(*) FROM (
		<include refid="selectUser" />
		<include refid="searchUser" />
	)
</select>

<select id="selectAll" resultType="map" parameterType="web.util.Paging">
	SELECT * FROM (
	    SELECT rownum rnum, B.* FROM (
			<include refid="selectUser" />
			<include refid="searchUser" />
			ORDER BY user_id DESC
	    ) B
	) WHERE rnum BETWEEN #{startNo} AND #{endNo}
</select>

<select id="selectAllReport" resultType="map" parameterType="web.util.Paging">
	SELECT * FROM (
	    SELECT rownum rnum, B.* FROM (
	    	<include refid="selectReport" />
	    	, (SELECT title FROM boardtb WHERE board_cate = reporttb.board_cate AND board_no = reporttb.board_no) AS "REPORT_TITLE"
	    	FROM reporttb
			ORDER BY report_no DESC
	    ) B
	) WHERE rnum BETWEEN #{startNo} AND #{endNo}
</select>

<select id="selectCntAllReport" resultType="int" parameterType="web.util.Paging">
	SELECT count(*) FROM (
		<include refid="selectReport" />
		FROM reporttb
	)
</select>

</mapper>