<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.AlertDao">
	<sql id="selectAlert">
		SELECT alert_no, user_id, content, alert_status, board_cate, board_no, post_date
		FROM alerttb
	</sql>

	<select id="selectByUser" resultType="Alert" parameterType="Alert">
		<include refid="selectAlert" />
		<where>
			AND user_id = #{userId }
		</where>
	</select>

</mapper>