<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="web.dao.face.CommDao">
  
  	<resultMap type="Map" id="Map">
		<result property="CONTENT" column="CONTENT" javaType="String" jdbcType="CLOB" typeHandler="org.apache.ibatis.type.ClobTypeHandler" />
	</resultMap>

  	<select id="selectComm"  parameterType="Map" resultMap="Map">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT
					comm_no
					, board_no
					, user_id
					, content
					, CAST(post_date AS DATE) AS post_date
					, delete_status
					, board_cate
					, (SELECT user_nick FROM usertb WHERE user_id = commtb.user_id) AS user_nick
				FROM commTb
				WHERE board_no = #{boardNo }
				AND delete_status = 0
				ORDER BY post_date DESC
			) B
		)
		ORDER BY rnum
  	</select>
  	 
  	<insert id="insertCommByShare" parameterType="comm">
		INSERT INTO commTB ( comm_no, board_no, user_id, content, board_cate )
		VALUES ( comm_seq.nextval, #{boardNo}, #{userId}, #{content}, #{boardCate} )
  	</insert>
  
  	<update id="deleteComm" parameterType="comm">
  		UPDATE COMMTB
  		SET delete_status = 1
  		WHERE comm_no = #{commNo}
  	</update>

	<select id="countComm" resultType="int" parameterType="comm">
		SELECT COUNT(*) FROM commTB
		WHERE comm_no = #{commNo}
		AND delete_status = 0
	</select>
  	
  	<select id="selectCommByUserId" resultType="user" parameterType="comm">
		SELECT user_nick FROM usertb
		WHERE user_id = #{userId}
		AND delete_status = 0  	
  	</select>
  	
  	<select id="getCommListByUserNick" parameterType="Map" resultMap="Map">
  			SELECT * FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT
					comm_no
					, board_no
					, user_id
					, content
					, CAST(post_date AS DATE) AS post_date
					, delete_status
					, board_cate
					, (SELECT user_nick FROM usertb WHERE user_id = commtb.user_id) AS user_nick
				FROM commTb
				WHERE board_no = #{boardNo }
				AND delete_status = 0
				ORDER BY post_date DESC
			) B
		)
		ORDER BY rnum
  	</select>
  	
  	
  	<insert id="insertCommByMarket" parameterType="comm">
		INSERT INTO commTB ( comm_no, board_no, user_id, content, board_cate )
		VALUES ( comm_seq.nextval, #{boardNo}, #{userId}, #{content}, #{boardCate} )
  	</insert>
  	
	<insert id="insertCommByGroup" parameterType="comm">
		INSERT INTO commTB ( comm_no, board_no, user_id, content, board_cate )
		VALUES ( comm_seq.nextval, #{boardNo}, #{userId}, #{content}, #{boardCate} )
  	</insert>
  	
	<insert id="insertCommByInquiry" parameterType="comm">
		INSERT INTO commTB ( comm_no, board_no, user_id, content, board_cate )
		VALUES ( comm_seq.nextval, #{boardNo}, #{userId}, #{content}, #{boardCate} )
  	</insert>
  	
  </mapper>