<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.GroupDao">
	
	<!-- 사용하는 테이블 정리 -->
	
	<sql id="selectBoard">
		SELECT
		board_no, title, location, post_date, hit, content, delete_status, user_id, board_cate, (SELECT user_nick FROM userTB WHERE user_id=boardtb.user_id)
		FROM boardtb
		WHERE board_cate = 4
	</sql>
	
	<sql id="selectGroup">
		SELECT
			board_no, recruit_status
		FROM grouptb
	</sql>
	
	<sql id="selectRecom">
		SELECT
			userId, recoNo, boardCate
		FROM recomtb
	</sql>
	
	<sql id="selectUser">
		SELECT
			user_id, user_pw, email, user_name
				,user_nick, birth, address
				,address_detail, phone, profile
				,join_date, user_status
		FROM usertb
	</sql>
	
	
	<!-- 1. 게시판 목록 조회 -->
	
	<select id="selectCntAll" resultType="int" parameterType="int">
	    SELECT COUNT(*)
	    FROM boardtb
	    WHERE board_cate = 4	
	</select>

	
    <select id="selectBoardList" parameterType="web.util.Paging" >
	  SELECT * FROM (
	    SELECT 
	      ROWNUM AS rnum,
	      b.board_no, b.title, b.location, b.post_date, b.hit, b.content, b.delete_status, b.user_id, b.board_cate,
	      u.user_nick 
	    FROM (
	      SELECT 
	        board_no, title, location, post_date, hit, content, delete_status, user_id, board_cate
	      FROM boardTB
	      WHERE board_cate = 4
	      ORDER BY board_no DESC
	    ) b
	    INNER JOIN userTB u ON b.user_id = u.user_id 
	  ) subquery
	  WHERE rnum BETWEEN #{startNo} AND #{endNo}
</select>



	<!-- 2. 게시판 상세 조회 -->

	<update id="updateHit" parameterType="BoardTb">
		UPDATE boardtb
		<set>
			hit = hit + 1,
		</set>
		<where>
			AND board_no = #{boardNo}
		</where>
	</update>
	
	<select id="selectByBoardNo" resultType="BoardTb" parameterType="BoardTb">
		SELECT   board_no, title, location, post_date, hit, content, delete_status, user_id, board_cate, (SELECT user_nick FROM userTB WHERE user_id=boardtb.user_id)   
		FROM boardtb   
		WHERE board_cate = 4 AND board_no = #{boardNo}
	</select>

	<!-- 닉네임 안 가져와지는데 몰라!! -->
	<select id="selectUserNick" resultType="Map" parameterType="web.util.Paging">
	    SELECT * FROM (
	        SELECT 
	            ROWNUM AS rnum,
	            user_nick
	        FROM (
	            SELECT 
	                board_no, title, location, post_date, hit, content, delete_status, user_id, board_cate, 
	                (SELECT user_nick FROM userTB WHERE user_id = boardtb.user_id) AS user_nick
	            FROM boardTB
	            WHERE board_cate = 4
	            ORDER BY board_no DESC
	        )
	    ) WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>




</mapper>
