<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="web.dao.face.HeartDao">
	
	
		<select id="selectTotalCntHeart" resultType="int" parameterType="heart">
			SELECT COUNT(*) FROM hearttb
			WHERE heart_no = #{heartNo}
		</select>
		
		<select id="selectCntHeartByUserId" resultType="int" parameterType="heart">
			SELECT COUNT (*) FROM hearttb
			WHERE user_id = #{userId }
			AND heart_no = #{heartNo }
			AND board_cate = #{boardCate }
		</select>

		<select id="selectCntHeartList" resultType="int" parameterType="heart">
			SELECT COUNT (*) FROM hearttb
			WHERE user_id = #{userId }
			AND heart_no = #{heartNo }
		</select>
		
		<delete id="deleteHeart" parameterType="heart">
			DELETE hearttb
			WHERE user_id = #{userId}
			AND heart_no = #{heartNo}
		</delete>
		
		<insert id="insertHeart" parameterType="heart">
			INSERT INTO hearttb
			VALUES (#{userId}, #{heartNo}, #{boardCate})
		</insert>
		
		<!-- ======================================== -->
		
		<select id="selectShareAll" parameterType="web.util.Paging" resultType="Map">
			SELECT * FROM (
			    SELECT ROWNUM rnum, A.* FROM (
			        SELECT 
			            board_no,
			            title,
			            location,
			            CAST(post_date AS DATE) AS post_date,
			            hit,
			            content,
			            delete_status,
			            H.board_cate,
			            H.user_id, 
			            (SELECT user_name FROM usertb WHERE user_id = B.user_id) AS "USER_NAME",
			            (SELECT user_nick FROM usertb WHERE user_id = B.user_id) AS "USER_NICK",
			            (SELECT COUNT(*) FROM recomtb WHERE recom_no = B.board_no AND board_cate = #{category }) AS "RECOM",
			            (SELECT COUNT(*) FROM hearttb WHERE heart_no = B.board_no AND board_cate = #{category }) AS "HEART",
			            (SELECT stored_name FROM (SELECT stored_name, ROWNUM as rnum FROM boardfiletb WHERE board_no = B.board_no ORDER BY file_no) WHERE rnum = 1) AS "THUMBNAIL_NAME",
			            (SELECT loc_name_ko FROM location_category WHERE loc_cate = B.location) AS "LOCATION_NAME",
			            (SELECT paid FROM sharetb WHERE board_no = B.board_no) AS "PAID",
						(SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
						 FROM hearttb H2
						 WHERE H2.heart_no = B.board_no AND H2.board_cate = #{category } AND H2.user_id = #{type }) AS "HEARTID",
						 (SELECT price FROM markettb WHERE board_no = B.board_no) AS "PRICE"
			        FROM hearttb H
			         INNER JOIN boardtb B ON B.board_no = H.heart_no
			        WHERE H.board_cate = #{category }
			            AND B.delete_status = 0
			            AND H.user_id = #{type }
			            AND H.board_cate = #{category }	
			        ORDER BY H.heart_no DESC
			    ) A
			) WHERE rnum BETWEEN #{startNo} AND #{endNo}
	
	  	</select>
  
	  	<select id="selectCntAll" parameterType="web.util.Paging" resultType="int">
	  		SELECT count(*) FROM hearttb
	  		WHERE board_cate = #{category}
	  		AND user_id = #{type}
	  	</select>

	</mapper>  