<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "web.dao.face.MsgDao">
  
  <resultMap id="egomap" type="map">
    <result property="roomNo" column="ROOM_NO"/>
    <result property="otherUserId" column="OTHER_USER_ID"/>
    <result property="lastMessageTime" column="LAST_MESSAGE_TIME"/>
    <!-- CLOB 데이터를 String으로 매핑 -->
    <result property="messagePreview" column="MESSAGE_PREVIEW" javaType="java.lang.String" jdbcType="CLOB" typeHandler="org.apache.ibatis.type.ClobTypeHandler"/>
    <result property="msgStatus" column="MSG_STATUS"/>
</resultMap>

<select id="selectRoomNo" parameterType="user" resultMap="egomap">
SELECT 
    r.ROOM_NO,
    CASE 
        WHEN r.ROOM_id1 = #{userId} THEN r.ROOM_id2
        ELSE r.ROOM_id1
    END AS OTHER_USER_ID,
    m.POST_DATE AS LAST_MESSAGE_TIME,
    m.CONTENT AS MESSAGE_PREVIEW,
    CASE
        WHEN EXISTS (
            SELECT 1
            FROM msgTB
            WHERE RECEIVER_ID = #{userId} AND MSG_STATUS = 0 AND ROOM_NO = r.ROOM_NO
        )
        THEN 1
        ELSE 0
    END AS MSG_STATUS
FROM 
    roomTB r
JOIN 
    (SELECT ROOM_NO, WRITER_ID, RECEIVER_ID, CONTENT, POST_DATE,
            ROW_NUMBER() OVER (PARTITION BY ROOM_NO ORDER BY POST_DATE DESC) AS rn
     FROM msgTB) m ON r.ROOM_NO = m.ROOM_NO AND m.rn = 1
WHERE 
    #{userId} IN (r.room_id1, r.room_id2)

</select>
    
<select id="selectByRoomNo" parameterType="Msg">
SELECT * FROM msgTB
WHERE room_no = #{roomNo}
ORDER BY post_date
</select>

<select id="getColunmInfo" parameterType="Msg" resultType="Msg">
SELECT room_no, receiver_id,writer_id, board_cate, board_no
FROM msgtb
WHERE room_no = #{roomNo} AND ROWNUM &lt;= 1
</select>

<insert id="insertmessage" parameterType="Msg" useGeneratedKeys="true" keyProperty="msgNo">
  INSERT INTO msgtb (room_no, msg_no, writer_id, receiver_id, content, board_cate, board_no)
  VALUES (#{roomNo}, msg_seq.nextval, #{writerId}, #{receiverId}, #{content}, #{boardCate}, #{boardNo})
  <selectKey keyProperty="msgNo" resultType="int" order="AFTER">
    SELECT msg_seq.currval FROM dual
  </selectKey>
</insert>

<select id="selectByMsgNo" parameterType="Msg">
SELECT * FROM msgtb
WHERE msg_no = #{msgNo}
</select>

<select id="selectByRoomNoLast" parameterType="Msg">
SELECT * FROM (
  SELECT B.*, ROWNUM as rnum
  FROM (
    SELECT msgtb.*
    FROM msgtb
    WHERE room_no = #{roomNo}
    ORDER BY msg_no DESC
  ) B
)
WHERE rnum = 1
</select>

<update id="updateStatus" parameterType="map">
UPDATE msgTB
SET msg_status = 1
WHERE receiver_id = #{userId}
AND room_no = #{roomNo}
</update>

<insert id="makeNewRoom" parameterType="Msg" keyProperty="roomNo">
<selectKey keyProperty="roomNo" resultType="int" order="BEFORE">
    SELECT room_seq.nextval FROM dual
  </selectKey>
INSERT INTO roomTB(room_no,room_id1,room_id2)
VALUES(#{roomNo},#{writerId},#{receiverId})
</insert>
  </mapper>