<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.dao.face.MypageDao"> 
	<sql id="selectMsg">
		SELECT msg_no, writer_no, receiver_no, post_date, content, msg_status, board_cate, board_no
		FROM msg
	</sql>
	
	<select id="selectByReceiver" resultType="Msg" parameterType="Msg">
		<include refid="selectMsg" />
		<where>
			<if test="receiverNo =! null and receiverNo != 0">
			AND receiver_no = #{receiverNo }
			</if>
			<if test="writerNo =! null and writerNo != 0">
			AND writer_no = #{writerNo }
			</if>
		</where>
	</select>


</mapper>