<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.dao.face.MypageDao"> 
	<sql id="selectMsg">
		SELECT msg_no, writer_id, receiver_id, post_date, content, msg_status, board_cate, board_no
		FROM msgtb
	</sql>
	
	<select id="selectByReceiver" resultType="Msg" parameterType="Msg">
		<include refid="selectMsg" />
		<where>
			<if test="receiverId != null">
			AND receiver_id = #{receiverId }
			</if>
			<if test="writerId != null">
			AND writer_id = #{writerId }
			</if>
		</where>
	</select>

	<insert id="insertMsg" parameterType="Msg">
		<selectKey order="BEFORE" keyProperty="msgNo" resultType="int">
			SELECT msg_seq.nextval FROM dual
		</selectKey>
		INSERT INTO msgtb ( msg_no, writer_id, receiver_id, content, board_cate, board_no )
		VALUES ( #{msgNo }, #{writerId }, #{receiverId }, #{content }, #{boardCate }, #{boardNo } )
	</insert>

</mapper>