<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.dao.face.RentDao">
	
	<sql id="selectRent">
		SELECT rent_no, car_no, user_id, rent_status, booking_date, start_date, end_date, reserv_pax, add_option, delete_status, merchant_uid, amount
		, (SELECT user_nick FROM usertb U WHERE U.user_id = R.user_id ) AS guestnick
		, (SELECT user_id FROM cartb C WHERE C.car_no = R.car_no ) AS hostid
		, (SELECT car_name FROM cartb C WHERE C.car_no = R.car_no ) AS carname
		, (SELECT loc_name_ko FROM location_category L WHERE L.loc_cate = (SELECT location FROM cartb C WHERE C.car_no = R.car_no)) as location
		, (SELECT area_name_ko FROM area_category A 
			WHERE A.area_cate = (SELECT area FROM cartb C WHERE C.car_no = R.car_no)
			AND A.loc_cate = (SELECT location FROM cartb C WHERE C.car_no = R.car_no)) as area
		, (SELECT user_nick FROM usertb U WHERE U.user_id = (SELECT user_id FROM cartb C WHERE C.car_no = R.car_no)) as hostnick
		, (SELECT stored_name FROM (SELECT stored_name FROM boardfiletb WHERE board_no = R.car_no)) AS thumbnailname
		<if test="search != null and !''.equals(search)">
		, (SELECT review_no FROM reviewtb RV WHERE R.rent_no = RV.rent_no AND RV.user_id = #{search } AND delete_status = 0) as review
		</if>
		FROM renttb R
	</sql>
	
	
	<select id="selectCntAll" resultType="int" parameterType="web.util.Paging">
		SELECT count(*) FROM renttb
		<where>
			<if test="category != null and !''.equals(category)">
				AND rent_status = #{category }
			</if>
			<if test="search != null and !''.equals(search)">
				AND user_id = #{search }
			</if>
		</where>
	</select>
	
	<select id="selectAllByRentStatus" resultType="map" parameterType="web.util.Paging">
		SELECT * FROM (
		SELECT rownum rnum, R.* FROM (
			<include refid="selectRent" />
			<where>
				<if test="category != null and !''.equals(category)">
					AND rent_status = #{category }
				</if>
				<if test="search != null and !''.equals(search)">
					AND user_id = #{search }
				</if>
			</where>
			ORDER BY rent_no DESC
		) R )
		<where>
			AND rnum BETWEEN #{startNo } AND #{endNo }
		</where>
	</select>

	<select id="selectAllByCarNo" resultType="Rent" parameterType="Car">
		SELECT rent_no, car_no, user_id, rent_status, booking_date, start_date, end_date, reserv_pax, add_option, delete_status
		FROM renttb
		<where>
			AND car_no = #{carNo }
			AND rent_status = 0
		</where>
	</select>
	
	<insert id="insertRent" parameterType="Rent">
		<selectKey order="BEFORE" keyProperty="rentNo" resultType="int">
			SELECT rent_seq.nextval FROM dual
		</selectKey>
		INSERT INTO renttb (rent_no, car_no, user_id, start_date, end_date, reserv_pax, add_option, merchant_uid, amount)
		VALUES( #{rentNo}, #{carNo}, #{userId}, #{startDate }, #{endDate}, #{reservPax }, #{addOption }, #{merchantUid }, #{amount } )
	</insert>
	
	<select id="selectUserByUserId" parameterType="User" resultType="User">
		SELECT user_id, user_pw, email, user_name, user_nick, birth, address
		, address_detail, phone, profile, join_date, user_status 
		FROM usertb
		<where>
			AND user_id = #{userId }
		</where>
	</select>
	
	<update id="updateCancel" parameterType="Rent">
		UPDATE renttb
		<set>
			rent_status = 2,
		</set>
		<where>
			AND rent_no = #{rentNo }
		</where>
	</update>
	<select id="selectReviewInfoBycarNo" parameterType="Car"> <!-- 평균 별점과 리뷰 갯수 -->
	SELECT
    ROUND (SUM(R.RATE) / COUNT(R.RATE),1) AS avearge_rate,
    COUNT(R.RATE) AS review_num
    FROM reviewtb R
    INNER JOIN renttb RT ON R.rent_no = RT.rent_no
    INNER JOIN cartb C ON C.car_no = RT.car_no
    INNER JOIN usertb U ON U.user_id = C.user_id
	WHERE C.user_id = #{userId}
	GROUP BY C.car_no 
	</select>
	
	<select id="selectCntHeartByUserId" parameterType="Car"> <!-- 리뷰 여부 확인 -->
	SELECT COUNT(H.heart_no) from hearttb H
	WHERE heart_no = #{carNo}
	AND user_id = #{userId}
	</select>
	
	<select id="selectFileByCarNo" parameterType="Car">
	SELECT * FROM boardfiletb
	WHERE board_no = #{carNo}
	AND board_cate = 1
	</select>
	
	<insert id="insertHeartByUserId" parameterType="Heart">
	INSERT INTO hearttb(user_id,heart_no,board_cate)
	VALUES(#{userId},#{heartNo},1)
	</insert>
	
	<delete id="deleteHeartByUserId" parameterType="Heart">
	DELETE hearttb
	WHERE user_id = #{userId}
	AND heart_no = #{heartNo}
	AND board_cate = 1
	</delete>
</mapper>