<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.dao.face.ReviewDao">
	
	<sql id="selectReview">
		SELECT review_no, RV.user_id, R.rent_no, car_no, content, rate, RV.delete_status, RV.post_date
		, (SELECT user_nick FROM usertb U WHERE RV.user_id = U.user_id) as reviewnick
		FROM reviewtb RV
	</sql>
	
	<resultMap type="map" id="reviewMap">
		<result property="reviewNo" column="review_no" />
		<result property="userId" column="user_id" />
		<result property="rentNo" column="rent_no" />
		<result property="carNo" column="car_no" />
		<result property="content" column="content" jdbcType="CLOB" javaType="java.lang.String"/>
		<result property="rate" column="rate" />
		<result property="deleteStatus" column="delete_status" />
		<result property="postDate" column="post_date" />
		<result property="reviewNick" column="reviewnick" />
	</resultMap>
	
	<select id="selectReviewByCar" parameterType="Car" resultMap="reviewMap">
		<include refid="selectReview" />
		INNER JOIN renttb R ON RV.rent_no = R.rent_no
		<where>
			AND car_no = #{carNo }
		</where>
	</select>
	
	<insert id="insertReview" parameterType="Review">
		<selectKey order="BEFORE" keyProperty="reviewNo" resultType="int">
			SELECT review_seq.nextval FROM dual
		</selectKey>
		INSERT INTO reviewtb ( review_no, rent_no, content, rate )
		VALUES ( #{reviewNo}, #{rentNo }, #{content }, #{rate } )
	</insert>
	
	
</mapper>