<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="web.dao.face.UserDao">

	<select id="selectCntUser" resultType="int" parameterType="User">

    SELECT count(*)
    FROM userTb
    <where>
        <if test="userId != null and userId != ''"> AND user_id = #{userId} </if>
        <if test="userPw != null and userPw != ''"> AND user_pw = #{userPw} </if>
    </where>
		
	</select>


	<select id="findId" resultType="String" parameterType="User">
	    SELECT user_id
	    FROM userTb
	    <where>
	        <if test="email != null and email != ''"> AND email = #{email} </if>
	        <if test="userName != null and userName != ''"> AND user_name = #{userName} </if>
	    </where>
	</select>


    <select id="selectCntUserId" resultType="int" parameterType="String">
        SELECT count(*)
        FROM userTb
        WHERE user_id = #{userId}
    </select>

    <select id="selectCntEmail" resultType="int" parameterType="String">  
        SELECT count(*)
        FROM userTb
        WHERE email = #{email}
    </select>

    <select id="selectCntUserNick" resultType="int" parameterType="String">
        SELECT count(*)
        FROM userTb
        WHERE user_nick = #{userNick}
    </select>


	<insert id="insert" parameterType="User">
    INSERT INTO userTb (user_id, user_pw, email, user_name, user_nick, birth, address, address_detail, phone, profile)
    VALUES (#{userId}, #{userPw}, #{email}, #{userName}, #{userNick}, #{birth}, #{address}, #{addressDetail}, #{phone}, #{profile})
	</insert>

    <select id="selectInfo" resultType="User" parameterType="User">
    SELECT *
    FROM userTb
    WHERE 
    user_id = #{userId}
    AND 
    user_pw = #{userPw}

	</select>
	
	<select id="findPw" resultType="String" parameterType="User">
    SELECT *
    FROM userTb
    <where>
        <if test="userId != null and userId != ''"> AND user_id = #{userId} </if>
        <if test="userName != null and userName != ''"> AND user_name = #{userName} </if>
        <if test="email != null and email != ''"> AND email = #{email} </if>
    </where>
	</select>
	
	<select id="selectById" resultType="User" parameterType="string">
		SELECT * FROM userTb
		<where>
			user_id = #{userId}
		</where>
	</select>
	
	<update id="updateUser" parameterType="User">
    <choose>
        <!-- Check if user ID ends with '.k' -->
        <when test="userId.endsWith('.k')">
            UPDATE userTb
            SET
                birth = #{birth}, 
                address = #{address}, 
                address_detail = #{addressDetail},
                phone = #{phone}, 
                profile = #{profile}
            WHERE
                user_id = #{userId}
        </when>
        <!-- If user ID doesn't end with '.k', update password as well -->
        <otherwise>
            UPDATE userTb
            SET
                user_pw = #{userPw},
                birth = #{birth}, 
                address = #{address}, 
                address_detail = #{addressDetail},
                phone = #{phone}, 
                profile = #{profile}
            WHERE
                user_id = #{userId}
        </otherwise>
    </choose>
	</update>
	


	<update id="updatePw" parameterType="User">
	    UPDATE userTb
	    SET
	        user_pw = #{userPw}
	    WHERE
	        user_id = #{userId}
	</update>

	<update id="deleteInfo" parameterType="User">
        UPDATE userTb 
        SET 
        	USER_STATUS = #{userStatus} 
        WHERE 
        	user_id = #{userId}
    </update>

	<select id="selectCntKakao" resultType="int" parameterType="String">

    SELECT count(*)
    FROM userTb
    <where>
        <if test="userId != null and userId != ''"> AND email = #{email} </if>
    </where>
		
	</select>


    <select id="selectKakaoInfo" resultType="User" parameterType="User">
    SELECT *
    FROM userTb
    WHERE 
   	 email = #{email}

	</select>
	
	<insert id="kakaoInsert" parameterType="User">
    INSERT INTO userTb (user_id, user_pw, email, user_name, user_nick, birth, address, address_detail, phone, profile)
    VALUES (#{userId}, FLOOR(DBMS_RANDOM.VALUE * 1000000), #{email}, #{userName}, #{userNick}, #{birth}, #{address}, #{addressDetail}, #{phone}, 2)
	</insert>
	
	

</mapper>