@charset "UTF-8";

.head {
	text-align: center;
}

.title > a{
	color: black;
	align-items: center; /* 수직 가운데 정렬 */
	display: flex; /* Flexbox를 사용하여 내부 요소를 가로로 나열 */
}

 .tb { 
/*  	background-color: #ffeea1; */
 	display: grid;
 	margin-bottom: 30px;
 } 

tr:active {background-color: #F2F2F2;}

 th { 
   background-color: forestgreen; 
   color: white; 
   font-weight: bold;
   text-align: center;
 } 

td {
	border-bottom: 1px solid #ddd;
}

.row {
    text-align: center;
}

.write-container {
    height: 440px;
    width: 380px;
    margin: 1em auto; 
    text-align: center; 
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

.write-container:hover {
    border-color: #82EB5A;
}

.col-md-4 {
    margin-right: 30px;
}

.preview {
	margin: 15px auto 15px auto;
	width: 350px;
	height: 300px;
	display: flex;
	object-fit: cover;
	justify-content: center;
	align-items: center;
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center center;
}

.no {
   margin-top: 10px;
}

.title {
    margin-top: 10px;
    color: black;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.view {
	font-size: 15px;
}
.write{
	font-size: 15px;
}

.info {
    display: flex; /* Flexbox를 사용하여 내부 요소를 가로로 나열 */
    justify-content: space-between; /* 요소 간에 공간을 균등하게 배치 */
    align-items: center; /* 수직 가운데 정렬 */
   	margin: 15px auto 15px auto;
    
}

.info h6 {
    margin: 0; /* 기본 마진 제거 */
}

.select {
    display: flex; /* Flexbox를 사용하여 내부 요소를 가로로 나열 */
    justify-content: right;
    align-items: center; /* 수직 가운데 정렬 */
   	margin: 15px auto 15px auto;
    
}

label{
	margin : 5px;
}

select {
	width: 100px;
	text-align: center;
}

.head {
	text-align: center;
}

.title > a{
	color: black;
	align-items: center; /* 수직 가운데 정렬 */
	display: flex; /* Flexbox를 사용하여 내부 요소를 가로로 나열 */
	
}

.pageTitle {
/* 	background-color: pink; */
/* 	color: forestgreen; */
}

.container {
	display: grid;
	min-width: 1300px;
	align-content: center;
	padding: 0px;
	border-color: aqua;
	font-size: 20px;
}

/* 버튼 */
.btn_write {
    background-color: forestgreen;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    border-radius: 6px;
}

/* .btn:hover { */
/*     background-color: #04883C; 마우스 호버 시 배경 색상 변경 */
/*     color: white; */
/* } */

/* .btn:active { */
/*     background-color: #2ECC71; 버튼을 클릭할 때 배경 색상 변경 */
/*     color: white; */
/* } */

.btn_edit{
	background-color: #0d6efd;
	color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
	border-radius: 6px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.btn_edit:active {
	background-color: #0a53be;
	color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
	border-radius: 6px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.btn_cancel{
	background-color: #dc3545;
	color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    border-radius: 6px;
    padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.btn_cancel:active {
	background-color: #b02a37;
	color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    border-radius: 6px;
    padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

/* 버튼 크기 */
:root {
  --button-width: 400px;
  --button-height:50px;
}

/* 바깥 div */
#report{
   margin: 0 auto;
   border: 3px solid #2ECC71;
   width: calc(var(--button-width) + 13px);
   height: calc(var(--button-height)*5 + 169px);
   border-radius: 5px; 
}
/* 안쪽 div */
#reportIn{
   margin: 0 3px;
   margin-top: 8px;
}

/* 버튼 스타일 */
#reportBtn1, #reportBtn2{
   border-radius: 5px;
   width: var(--button-width);
   height: var(--button-height);
   border: 0;
   font-size: 25px;
   margin-bottom: 8px;
}
/* 버튼 2번 색깔 */
#reportBtn2{
   background-color: #2ECC71;
   color: white;
}

.select {
	text-align: center;
    align-items: center; /* 수직 가운데 정렬 */
   	margin: 15px auto 15px auto;
   	display: flex; /* Flexbox를 사용하여 내부 요소를 가로로 나열 */
}

.recruitStatus{
    text-align: center;
    border: none;
    font-weight: bold;
/*     margin-left: -110px; */
}
.location{
    text-align: center;
    width: 98px;
    border: none;
    font-weight: bold;
}

label{
	margin : 5px;
}

select {
	width: 100px;
	text-align: center;
	margin-left: 10px;
}

.selectmoney{
	text-align: center;
}

.content {
	min-height: 300px;
}

<style type="text/css">
.select {
	text-align: center;
    align-items: center; /* 수직 가운데 정렬 */
   	margin: 15px auto 15px auto;
   	display: flex; /* Flexbox를 사용하여 내부 요소를 가로로 나열 */
}

.recruitStatus{
    text-align: center;
    width: 80px;
    border: none;
    font-weight: bold;
}
.location{
    text-align: center;
    width: 55px;
    border: none;
    font-weight: bold;
}

label{
	margin : 5px;
}

select {
	width: 100px;
	text-align: center;
	margin-left: 10px;
}

.selectmoney{
	text-align: center;
}

h3 {
	color: forestgreen;
	font-weight: 600;
	font-size: 40px;
}

/* 라디오 */
[type="radio"], span {
  vertical-align: middle;
}

[type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1em;
  height: 1em;
/*   transition: border 0.5s ease-in-out; */
}

[type="radio"]:checked {
  border: 0.3em solid forestgreen;
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted tomato;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:hover + span {
  cursor: pointer;
}

[type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

[type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Global CSS */
fieldset {
  display: flex;
  justify-content: center;
  border: none;
  margin: 0;
  padding: 40px 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#location option:checked {
    background-color: green;
    color: #fff;
}

#location option:hover {
    background-color: green; /* 원하는 배경색으로 변경하세요 */
}