@charset "UTF-8";

.wrap {
	width: 1300px;
}

.container {
	width: 1300px;
/* 	margin-left: -10px; */
/* 	margin-right: 0px; */
}

.header-container {
    position: relative;
    display: inline-block;
    width: 1300px;
    height: 240px;
}

.search-icon {
	position: absolute;
	top: 10px;
	right: 10px;
}

.header-image {
    z-index: -1;
}

.main-category-menu {
	text-align: center;
	font-size: 24px;
/* 	background-color: #defdd1; */
	border: 1px solid;
	border-left: none;
	border-right: none;
	border-top: none;
	border-color: #d0d0d0;
	padding-bottom: 10px;
/* 	border-style: none; */
}

.main-category-menu a {
	text-decoration: none;
	color: #3da903;
	transition: color 0.3s ease;
	font-weight: bold;
	width: 280px;
	display: inline-block;
/* 	text-align: center; */
/* 	box-sizing: border-box; */
}

.main-category-menu a:hover {
	text-decoration: none;
	color: green;
}

#pageTitle {
	color: #2ECC71;
	font-weight: bold;
	font-size: 40px;
}

.wrap-menu {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	font-size: 25px;
}

.menu-back {
	position: absolute;
	top: 10px;
	right: 15px; 
}

.menu {
    position: fixed;
    top: 0;
    left: -360px; 
    width: 360px; 
    height: 100%;
    background-color: #fff; 
    transition: left 0.4s; 
    z-index: 1000;
    overflow-y: auto;
	overflow-x: hidden;
}

.alert-list {
    position: fixed; 
    top: 0;
    left: -360px; 
    width: 360px; 
    height: 100%;
/*     border: 1px solid #ccc; */
    border-radius: 0px;
/*     background-color: #fff7cb; */
    background-color: #FEFEFE; /* 색 수정*/
    color: #fff; 
    transition: left 0.4s; 
    z-index: -1;
 	visibility: hidden;
}

.search {
    position: fixed;
    top: -200px;
    width: 1300px; 
    height: 130px;
    background-color: #FFFFFF;
    transition: top 0.4s; 
    z-index: 1000;
}

ul {
	list-style: none;
}

 * {
  	font-family: "source-han-sans-korean", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.menu-icon {
    position: inherit; 
    top: 10px;
    left: 10px;
    clear: both;
    z-index: 1;
} 


#new-icon {
	color: white;
	text-align: center;
	font-size: 10px;
	border: 1px solid tomato;
	background-color: tomato;
	border-radius: 3px;
	width: 32px;
	height: 20px;
	margin-left: 38px;
	margin-top: 5px;
	position: inherit;
	display: inline-block;
	z-index: 2;
	display: none;
	vertical-align: middle;
}

#new-icon-text {
	vertical-align: middle;
	margin-top: 1px;
}

#alertWrap {
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
 	position: absolute; 
}

#new-alert {
	color: white;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	border: 1px solid tomato;
	background-color: tomato;
	border-radius: 20px;
	width: 20px;
	height: 20px;
  	margin-top: -10px;
  	margin-left: 80px;  
 	position: absolute; 
	display: inline-block;
	z-index: 2;
/* 	vertical-align: middle; */
  	display: none;  
}

.mypage_background {
/* 	background-color: pink; */
	background: url('/resources/img/mypage_background.png');
	height: 180px;
}

.profile_box {
	display: grid;
	justify-content: center;
}

.box {
	width: 150px;
	height: 150px;
	border-radius: 70%;
	overflow: hidden;
}

.profile {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.toggle {
	margin-top: -60px;
	height: 70px /* 이후 수정*/
}

.btn_test {
/* 	background-color: yellow; */
	display: grid;
	justify-content: center;
	margin-top: -70px;
}

.userStatus_g {
/* 	background-color: lime; */
	position: absolute;
	margin-left: 95px;
	margin-top: 36px;
	z-index: 1;
	font-weight: 700;
	color: #fff;
	user-select: none; 
}

.userStatus_h {
/* 	background-color: lime; */
	position: absolute;
	margin-left: 95px;
	margin-top: 36px;
	z-index: 1;
	font-weight: 700;
	color: #fff;	
	user-select: none;
}


/* 토글 테스트*/
.toggleSwitch {
  width: 200px;
  height: 50px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #1aba00;
  color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
  margin: 30px;
/* 	margin-left: 80px; */

}

.toggleSwitch .toggleButton {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #189104;
}

#toggle_test:checked ~ .toggleSwitch {
  background: #1aba00;
}

#toggle_test:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 44px);
  background: #189104;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}

.sm_menu {
/* 	background-color: pink; */
	margin-right: 0px;
	margin-top: -20px;
}

.sm_menu span:hover,
.before_login span:hover {
	font-weight: bold;
	color: #00ac08;
	cursor: pointer;
}

.myInfo {
	margin-right: 20px;
	color: #525252;
}

.logout {
	color: #525252;
}

.my_list {
/* 	background-color: pink; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 20px;
	padding: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.my_list div:hover {
	cursor: pointer;
}

.my_list div:hover span{
	font-weight: bold;
	color: #00ac08;
	cursor: pointer;
}

.hr_info {
	margin-bottom: -30px;
}

.hr_simple {
	margin-top: 10px;
}

.reservation_container {
	display: flex;
	flex-direction: column;
}

.message_container {
	display: flex;
	flex-direction: column;
}

.heart_container {
	display: flex;
	flex-direction: column;
}

.alert_container {
	display: flex;
	flex-direction: column;
}

.before_login {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-right: 30px;
	margin-left: 30px;
	gap: 20px;
}

body {
	display: grid;
	justify-content: center;
}

.fin {
/* 	background-color: aqua; */
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 10px;
/* 	justify-content: center; */
	justify-items: start;
	margin-top: 35px;
	margin-left: 55px;

}

.fin span {
	font-size: 20px;
}

.fin span:hover {
	color: #00ac08;
	cursor: pointer;
}

.profile_box .box{
	display: none;
}

